#main-container {
  
}

.button-container{
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: row;
}

button {
    display: flex;
    margin: 50px auto 10px;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
}

button:hover {
    background-color: grey;
    color: black;
}

#grid-container{
margin: auto;
display: flex;
flex-wrap: wrap;
width: 600px;
height: 600px;
border: solid blue 10px;
}

.cell-row {
    outline: solid red 1px;
    background-color: white;
}

.cell-row:hover {
    background-color: black ;
}